/* ----------- Carousel ----------- */

.carousel-container {
  width: 95%;
  display: block;
  margin: 0 auto !important;
  margin-top: -0.5rem;
  position: relative;
  overflow: visible;
}

.slides-container {
  height: auto;
  display: flex;
  align-items: center !important;
  justify-content: center !important;
}

.slick-list {
  padding: 22rem 0 !important;
}

.slick-track{
  display: block !important;
  margin: 0 auto !important;
}

.primary {
  filter: drop-shadow(var(--box-shadow));
  position: relative;
  z-index: 300;
}

.slide {
  transform: scale(0.8) translateX(0) translateY(0);
  transition: all 300ms;
  opacity: 0.4;
  width: 27rem;
  height: 27rem;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  background-color: #fff;
  clip-path: circle(50%);
}

@media only screen and (min-width: 1600px) {
  .slide img {
    clip-path: circle(45%);
  }

  .carousel-container {
    width: 90%;
  }

  .next {
    right: 2rem !important;
  }

  .leftActiveSlide {
    transform: scale(1.2) translateX(-7.5rem) translateY(0) !important;
    opacity: 0.9;
  }
  
  .rightActiveSlide {
    transform: scale(1.2) translateX(7.5rem) translateY(0) !important;
    opacity: 0.9;
  }
  
  .activeSlide {
    transform: scale(2.3) translateX(0) translateY(0) !important;
    opacity: 1;
  }
}

@media only screen and (max-width: 1480px) {
  .preset-container {
    width: 93%;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 1200px) {
  .leftActiveSlide {
    transform: scale(1.2) translateX(-5rem) translateY(0) !important;
    opacity: 0.9;
  }

  .next {
    right: 2rem !important;
  }
  
  .rightActiveSlide {
    transform: scale(1.2) translateX(5rem) translateY(0);
    opacity: 0.9;
  }
  
  .activeSlide {
    transform: scale(2) translateX(0) translateY(0) !important;
    opacity: 1;
  }
  .preset-container {
    width: 90%;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 980px) {
  .preset-container {
    width: 90%;
    margin: 0 auto;
  }
  .slide img {
    clip-path: circle(40%);
  }

  .next {
    right: 0rem !important;
  }

  .leftActiveSlide {
    transform: scale(1.2) translateX(4rem) translateY(0) !important;
    opacity: 0.9;
  }

  .activeSlide {
    transform: scale(2) translateX(3rem) translateY(0) !important;
    opacity: 1;
  }
}

@media only screen and (max-width: 480px) {
  .slide img {
    clip-path: circle(35%);
  }

  .activeSlide {
    transform: scale(2) translateX(5rem) translateY(0) !important;
    opacity: 1;
  }
}

.leftActiveSlide {
  transform: scale(1.2) translateX(4rem) translateY(0);
  opacity: 0.9;
}

.rightActiveSlide {
  transform: scale(1.2) translateX(9rem) translateY(0);
  opacity: 0.9;
}

.activeSlide {
  transform: scale(2) translateX(4rem) translateY(0);
  opacity: 1;
}

.slide,
.leftActiveSlide,
.rightActiveSlide,
.activeSlide {
  display: flex;
  justify-content: center;
  align-items: center;
  clip-path: content-box;
  overflow: hidden;
  box-sizing: border-box;
}


.arrow {
  background-color: #fff;
  box-shadow: -0.5rem -0.5rem 6rem rgba(255,255,255,0.8);
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  position: absolute;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  cursor: pointer;
  z-index: 10;
  opacity: 0.5;
  transition: all 300ms ease;
} 

.arrow-icon {
  transition: color 300ms;
  font-size: 2.5rem;
  color: var(--color-medium-gray);
}

.arrow:hover {
  opacity: 1;
}

.arrow:hover .arrow-icon {
  color: var(--color-medium-gray);
}

.next {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.prev {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}